

.topbar {
  height: 60px;

  display: flex;
  align-items: center;

  padding: 0 24px;

  background: #383f4f;
  border-bottom: 1px solid #1f2937;

  color: white;

  position: sticky;
  top: 0;

  z-index: 500;
}