<!-- src/app/layouts/sidebar/sidebar.component.html -->
<div class="sidebar">
  <div class="logo">
    XLFlow
  </div>

  <nav>
    <!--
    <a routerLink="/dashboard" routerLinkActive="active">
      <i class="fas fa-home"></i> Dashboard
    </a>-->
    <a routerLink="/orders" routerLinkActive="active">
      <i class="fas fa-shopping-cart"></i> Pedidos
    </a>
    <a routerLink="/products" routerLinkActive="active">
      <i class="fas fa-box"></i> Productos
    </a>
    <!--
    <a routerLink="/reports" routerLinkActive="active">
      <i class="fas fa-chart-line"></i> Reportes
    </a>-->
  </nav>
</div>